@import url(./fonts/font.scss);

$break-small: 520px;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

*:focus,
textarea:focus,
input:focus,
button:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Clear Sans', Arial, sans-serif;
  background: #57407c;
  color: white;
  @media screen and (max-width: $break-small) {
    margin: 20px 0;
    padding: 0 20px;
    font-size: 12px;
  }
}
.app {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  & #home {
    padding: 15px;
  }
}
